# duckdb.db
duckdb.db.wal
.venv/
.env
.streamlit/secrets.toml
__pycache__/
pipeline/assets/ingestion/__pycache__/
data/raw/
!data/raw/.gitkeep

.bruin.yml
logs/runs
logs/*.log
*.py[cod]

docs/*
.md
backup/
logs/*
notebooks/.ipynb_checkpoints

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
infra/terraform.tfvars
tmp/
.tmp_repos/
